<%- include('partials/header'); -%>
<style>
  .crops-div p{
    font-size: 24px
  }
</style>
</head>
<body>
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ms-3" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto me-2">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MemberShip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">signUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="home-page-image-div">
  
  <img class="home-page-img" src="/images/home-page.jpg" alt="images" />
  <div class="intro-div">
    <h1 style="color:green;">Agricultural auctions and Sales</h1>
    <hr />
    <p style="color:cadetblue;">
      Agricultural bidding refers to a process in which agricultural products or services are offered for sale to the highest bidder. The bidding process is typically conducted through an auction, either in-person or online, and allows farmers or producers to sell their crops, livestock, or other agricultural products to buyers who are willing to pay the highest price.<br>

Agricultural bidding can be used for a variety of purposes, including the sale of crops, livestock, land, or agricultural equipment. In some cases, bidding may be used to sell surplus inventory or to dispose of products that are no longer needed.<br>

Bidding in agriculture is often used as a price discovery mechanism to determine the market value of agricultural products. This can be beneficial for both buyers and sellers, as it allows them to make informed decisions about the value of their products or the prices they are willing to pay.<br>

Overall, agricultural bidding can be an effective way for farmers, producers, and buyers to exchange agricultural products in a transparent and competitive marketplace.
  </p>
  </div>
</div>

<div class="crops-div" style="background-color: aquamarine;">
  <div style="padding-top:50px; margin-left:50px; ">
    <p>what can u sell</p>
    <p>Get huge profit from auctions</p>
  </div>
  <div style=" display: flex; justify-content: center;">
    <div class="crops-div">

    </div>
    <div class="crops-div">
  
    </div>
    <div class="crops-div">
  
    </div>
  </div>
  
</div>
<footer style="display: flex; justify-content: center; height: 100px; align-items: center; color:white; background-color: black;">
  <h4>
    copyright@2023
  <h4>
</footer>
<%- include('partials/footer'); -%>
