<%- include('partials/header'); -%>

</head>
<body>
    <h1
    style="padding-top: 100px;
    text-align: center;
    color: #ffffff;">Login Page</h1>
    <div class="login-div" style="min-height: 100vh; margin-top: 100px;">
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            
            <input type="submit" value="Login">
            <p style="text-align: center;">Don't have an account? <a href="signup.ejs">signUp</a></p>
        </form>
        
    </div>
	
<%- include('partials/footer'); -%>