<%- include('partials/header'); -%>

</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand ms-3" href="#">AGROW</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto me-2">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log out</a>
            </li>
          </ul>
        </div>
    </nav>
    <h3>Welcome to payment gateway</h3>
    <form action="payment" method="POST">
        <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="<%= key %>"
        data-amount="10000"
        data-currency="usd"
        data-name="Deekshith"
        data-description="product"
        data-locale="auto"></script>
    </form>
	
<%- include('partials/footer'); -%>