body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right top, #182b4c, #00374f, #004042, #09452c, #394619);
    backdrop-filter: brightness(0.4);
    color: white !important;
}


.navbar-brand{
    font-size: 1.5rem;
    letter-spacing: 5px;
}

.login-div form {
    background-color: #ffffff;
    width:600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cccccc;
}

.login-div label {
    display: block;
    margin-bottom: 5px;
    color: #666666;
}

.login-div input[type="text"], input[type="password"],input[type="number"],input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #cccccc;
}
.login-div input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-div input[type="submit"] {
    background-color: #346936;
    color: #ffffff;
    width: 60%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transform: translateX(75px);
    margin-bottom: 20px;
}

.login-div input[type="submit"]:hover {
    background-color: #264c28;
}

.signin-div form {
    background-color: #ffffff;
    width:600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cccccc;
    display: grid;
  grid-template-columns: auto auto ;
  gap: 20px;
}

.signin-div label {
    display: block;
    margin-bottom: 5px;
    color: #666666;
}

.signin-div input[type="text"], input[type="password"],input[type="number"],input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #cccccc;
}
.signin-div input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signin-div input[type="submit"] {
    background-color: #346936;
    color: #ffffff;
    width: 60%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transform: translateX(110px);
    margin-bottom: 20px;
}

.signin-div input[type="submit"]:hover {
    background-color: #264c28;
}

html{
    margin-top: -8px;
}
.home-page-image-div {
  width: 100%;
  min-height: 700px;
}

.intro-div {
  min-height: 700px;
}

.intro-div h1{
    font-size: 6rem;
    width: 100%;
    background: linear-gradient(138deg, rgb(0, 111, 59) 23%, rgb(238, 238, 238) 50%, rgba(0,121,34,1) 92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.crops-div-main{
    position: relative;
    color: black;
    box-shadow: 1px -4px 13px 12px rgb(0, 0, 0);
}

.crops-div-main img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness();
}

.crops-div {
  height: 500px;
  width: 500px;
  display: inline-block;
  background-color: rgb(129, 74, 74);
  margin: 150px 50px;
}

.search-bar {
  backdrop-filter: blur(3px) brightness(50%);
  color: white;
}

.timings-notice{
    background-color: rgba(0, 0, 0, 0.382);
}

.carousel-img {
  width: 100%;
  height: 30rem;
  background-color: black;
}

.steps-to-start {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 300px;
  padding: 5%;
  color: white !important;
  backdrop-filter: blur(3px) brightness(50%);
}

.steps {
  width: 50%;
  height: 10rem;
}

.steps-to-start h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.steps-to-start a:hover {
  color: white !important;
}

ol li:hover {
  font-size: large;
}

.a-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.603);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.auction-list {
  background-color: black;
  padding: 5%;
  color: white;
}

.auction-li {
  display: flex;
  padding: 5%;
  background-color: white;
  color: black;
}

.auction-li a {
  float: right;
}

.auction-li img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

@media screen and (min-width: 800px) {
  .crops-div-wrapper {
    display: flex;
    justify-content: center;
  }

  .home-page-img {
    filter: brightness(160%);
    width: 500px;
    position: absolute;
    top: 6rem;
    right: 5rem;
    margin: 30px 80px 0 0;
    z-index: -1;
  }
  .intro-div {
    width: 70%;
    padding: 5%;
    padding-top: 300px;
    padding-left: 10%;
  }
  .auction-li {
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .crops-div {
    margin-top: 1rem;
  }

  .home-page-img {
    height: 400px;
    width: 500px;
  }
  .intro-div {
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
  }
  .intro-div h1 {
    font-size: 3em;
    text-align: center;
  }
  .auction-li {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
